.App {
    height: 98.5vh;
    overflow: hidden;
}

.App-header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline;
    transition: .5s;
    height: 60px;
}

.App-header:hover {
    font-size: 60px;
    text-decoration-color: white;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: calc(100% - 60px);
    overflow: auto;
}

.card {
    margin: 20px 0;
}

.card-title {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 25px;
}

.card-body {
    background-color: gainsboro;
    width: 300px;
    padding: 50px 20px;
}